@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.full-container {
    margin: 0;
    padding: 0;
    font-size: 64.5%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {  /*Edita tanto el nav-bar como las recetas*/

    max-width: 90%;
    margin: 0 ;
    align-items: center;
}

/* Todo lo de nav-bar */

.container-navbar {
    background-color: beige ;
}

.navbar  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin: 0 20px;
}

.navbar .fa-bars{
    display: none;
}

.categoría-recet{
    display: flex;
    
}