body{
    margin: 0;
    padding: 0;
    background: url(../img/FondoLogin.png) center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
    backdrop-filter: blur(4px);
}
.fondo {
    width: 100%;
    height: 100vh; /* Tamaño de la ventana */
    background: linear-gradient(45deg, #ffd600, #b6990c); /* Definir un gradiente lineal de dos colores */
    background-size: 200% 200%; /* Aumentar el tamaño para la animación */
    animation: cambioColores 5s linear infinite alternate; /* Animación de cambio de colores */
  }
  
  @keyframes cambioColores {
    0% {
      background-position: 0% 0%; /* Inicio de la animación */
    }
    100% {
      background-position: 100% 100%; /* Fin de la animación */
    }
  }
.register-box{
    width: 320px;
    height: 680px;
    background-color:#fff;
    border: 2px solid;
    border-radius: 10px;
    border-color: #ffd600;
    color: #000;
    box-shadow: 0 20px 30px #000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;

}
.register-box .logito{
    width: 100px;
    height: 98px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid;
    border-color: #ffd600;
    position: absolute;
    top: -50px;
    left: 34%;
 
}
.register-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px; 
 }
 .register-box label { 
     margin: 0;
     padding: 10px 0;
     font-weight: bold;
     display: block;
 }
 .register-box input{
     width: 100%;
     margin-bottom: 10px;
     border-bottom: #000;
 }
 #Tipo-doc {
    width: 100%;
    margin-bottom: 20px;
}
 .register-box input[type="text"],
 .register-box input[type="Contraseña"],
 .register-box input[type="email"],
 .register-box select{
     border: none;
     border-bottom: 1px solid #000;
     background: transparent;
     outline: none;
     height: 40px;
     color: #000;
     font-size: 16px;
 }
 .register-box input[type="submit"] {
     border: none;
     outline: none;
     height: 40px;
     background-color: #ffd600;
     color: #000;
     font-size: 18px;
     border-radius: 20px;
     cursor: pointer;
 
 }
 .register-box a {
     text-decoration: none;
     font-size: 12px;
     line-height: 20px;
     color: darkgray;
 }
 .register-box a:hover {
     color: #000;
 
 }